attrs==18.2.0
Automat==0.7.0
chardet==2.3.0
constantly==15.1.0
gevent==1.2.0
greenlet==0.4.11
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
lxml==4.2.1
psutil==5.4.8
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymssql==2.1.4
pyodbc==4.0.24
PyV8==1.0
redis==2.10.5
requests==2.12.4
selenium==3.141.0
six==1.11.0
SQLAlchemy==1.1.4
urllib3==1.24.1
web.py==0.38
zope.interface==4.6.0
